* {
  margin: 0;
  padding: 0;
}
:root {
  --white: #ffffffb6;
  --pushLeft: 150px;
  --lilpad: 10px;
  --storpad: 30px;
  --conWidth: 300px;
}

h2,
h3 {
  padding: var(--lilpad);
}
/* Header section */
.lol {
}
#burgermenu {
  display: none;
  width: var(--pushLeft);
  min-height: 100vh;
  position: fixed;
  padding-top: var(--storpad);
  background-color: grey;
}
#burger {
  position: fixed;
  z-index: 2;
}
li {
  padding: var(--lilpad);
  border-bottom: black 1px solid;
}
.secA {
  padding: var(--lilpad);
  display: block;
  text-decoration: none;
}
/* Header section */
#h1 {
  display: inline;
  margin: var(--storpad) auto 0;
}
#theMain {
  background-image: url(imgz/face.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--lilpad);
}
#sec1 {
  margin-top: var(--storpad);
}
.sectionz {
  background-color: var(--white);
  margin: 0 auto;
}

img {
  width: var(--conWidth);
  padding: var(--lilpad);
}
.videoz {
  padding: var(--lilpad);
  width: var(--conWidth);
}
.youVid {
  padding: var(--lilpad);
  width: var(--conWidth);
}
/* desktop */
@media (min-width: 1000px) {
}
/* desktop */
